# topmark:header:start
#
#   project      : TopMark
#   file         : .editorconfig
#   file_relpath : .editorconfig
#   license      : MIT
#   copyright    : (c) 2025 Olivier Biot
#
# topmark:header:end

# root = true indicates that this is the top-level file
root = true

[*]
# This section applies to all files.
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[*.py]
# This section applies to Python files.
indent_style = space
indent_size = 4