# topmark:header:start
#
#   project      : TopMark
#   file         : .pypirc.example
#   file_relpath : .pypirc.example
#   license      : MIT
#   copyright    : (c) 2025 Olivier Biot
#
# topmark:header:end

[distutils]
index-servers =
    pypi
    testpypi

[pypi]
repository: https://upload.pypi.org/legacy/
username: __token__
password: pypi-xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx

[testpypi]
repository: https://test.pypi.org/legacy/
username: __token__
password: pypi-xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx