# topmark:header:start
#
#   project      : TopMark
#   file         : requirements-dev.in
#   file_relpath : requirements-dev.in
#   license      : MIT
#   copyright    : (c) 2025 Olivier Biot
#
# topmark:header:end

# Development dependencies - managed in pyproject.toml

-e .[dev,typing,test]